<!DOCTYPE html>
lasso-page package-path='./browser.json'

html
  head
    title -- charlie af
    lasso-head
  body
    header
    post-list [
      posts=input.posts
      nextPageLink=input.nextPageLink
      prevPageLink=input.prevPageLink
    ]
    lasso-body
    init-components
