<!DOCTYPE html>
lasso-page package-path='./browser.json'

html
  head
    title -- charlie af
    lasso-head
  body
    header
    post-list [
      posts=input.posts
      nextPage=input.nextPage
      prevPage=input.prevPage
    ]
    lasso-body
    init-components
