<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title -- ${input.title}
    meta name='viewport' content='width=device-width, initial-scale=1'
    lasso-head
  body
    header
    post [
      title=input.title
      description=input.description
      date=input.date
      readTime=input.readTime
    ]
      -- $!{input.postContent}
    lasso-body
    init-components
    browser-refresh enabled='true'

