<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title -- ${input.title}
    meta name='viewport' content='width=device-width, initial-scale=1'
    lasso-head
  body
    div.blog
      header
      post
        -- $!{input.postContent}
    lasso-body
    init-components
