<!DOCTYPE html>
lasso-page package-path='./browser.json'
html
  head
    title -- ${input.title}
    meta name='viewport' content='width=device-width, initial-scale=1'
    lasso-head
  body
    div.blog
      sidebar
        -- $!{input.sidebarContent}
      div.post
        div.post-content
          -- $!{input.postContent}
    lasso-body
    init-components
