html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.blog {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #6B6A6A;
  font-weight: 400;
}
