div.post
  div.post-body
    div.post-sidebar
      div.post-sidebar-content
        h3.post-title -- Insert title here that is decently long but not too long
        p.date -- May, 10, 20XX

        p -- This is a decently sized, but not too long description of what is going on in the post.

        p -- Share this post!
        social-media
    article.post-content
      include(input.renderBody)
