div.post
  div.post-body
    div.post-sidebar
      div.post-sidebar-content
        h2.post-title -- ${input.title}
        p.date -- ${input.date}
        p -- Read in approx. ${input.readTime} min

        p -- ${input.description}

        social-media
    article.post-content
      include(input.renderBody)
      comments
