div.post
  div.post-body
    div.post-sidebar
      div.post-sidebar-content
        h2.post-title -- ${input.title}
        p.date -- ${input.date}

        p -- ${input.description}

        p -- Share this post!
        social-media
    article.post-content
      include(input.renderBody)
