.post {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.post-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  max-width: 1000px;
}

.post-sidebar {
  flex: 1 1 25%;
}

.post-sidebar-content {
  border-right: 1px solid gray;
  padding: 10px;
}

.post-content {
  flex: 1 1 75%;
  height: 100%;
  margin: 0;
  padding: 10px;
}
