div.social-media
  div.icon-container
    a href='https://github.com/charlieduong94'
      i.fa.fa-3x.fa-github-square
  div.icon-container
    a href='email:charlieduong94@gmail.com'
      i.fa.fa-3x.fa-envelope-square
  div.icon-container
    a href='https://twitter.com/duong_charlie'
      i.fa.fa-3x.fa-twitter-square
  div.icon-container
    a href='https://www.facebook.com/charlie.duong.cd10'
      i.fa.fa-3x.fa-facebook-square


